* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #080402;
}

#main-div {
    width: 550px;
    margin: 126px auto 0;
    background: #F4F4F4;
    padding-bottom: 35px;
}

#top-div {
    height: 285px;
    width: 100%;
    background: #6943FF;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 33px;
    font-weight: 700;
    font-size: 28px;
}

#input-number {
    margin: 30px auto 25px;
    height: 83px;
    width: 117px;
    border: 2px solid #B295FF;
    border-radius: 8px;
    background: #6943FF;
    color: #FFFFFF;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
}

#input-number:focus {
    outline: none;
}

#convert-button {
    height: 42px;
    width: 117px;
    background: #FFFFFF;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: 600;
}

#bottom-div {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    padding-top: 36px;
}

.conversion-div {
    background: white;
    width: 500px;
    text-align: center;
    padding: 31px 0 19px;
}

.unit-header {
    color: #5A537B;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 9px;
}

.conversion-p {
    color: #353535;
}